@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font_nunito_sans{
    font-family: 'Nunito Sans', sans-serif;
}
.font_lato{
    font-family: 'Lato', sans-serif;
}
.font_helvetica{
    font-family: 'Montserrat', sans-serif;
}
/* ********************************* */
            /* Scrollbar */
/* ********************************* */
::-webkit-scrollbar { width: 8px; height: auto; }
::-webkit-scrollbar-track { -webkit-border-radius: 0; border-radius: 0; background: #f5f5f5; }
::-webkit-scrollbar-thumb { -webkit-border-radius: 0; border-radius: 0; background: #9F2B6E; }
::-webkit-scrollbar-thumb:window-inactive { background: #9F2B6E; }
/* ********************************* */
            /* Generic */
/* ********************************* */
body{
    overflow-x: hidden;
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
}
header, section, footer{
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
}
/* ********************************* */
             /* Header */
/* ********************************* */
header{
    z-index: 9;
}
.top-header-alert {
    background-color: #9F2B6E;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 5px 0;
}
.top-header-alert button {
    color: #fff !important;
    opacity: 1;
    font-weight: 100;
    line-height: 6px;
    font-size: 20px;
}
.top-header-alert button:hover,
.top-header-alert button:focus,
.top-header-alert button:active{
    color: #fff;
    outline: none;
    opacity: 1 !important;
}
.top-header-alert-content * {
    display: inline-block;
    margin: 0;
}
.top-header-alert-content p {
    font-size: 12px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
.top-header-alert-content a {
    font-size: 12px;
    color: #F5DFA3;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-decoration: underline;
}
.top-header-nav{
    background-color: #000000;
    padding: 5px 0;
}
.top-header-social-nav{
    margin: 3px 0;
}
.top-header-social-nav a{
    color: #fff;
    font-size: 12px;
}
.top-header-navbar{
    margin: 4px 0;
}
.top-header-navbar li a{
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}
.lang_switch, .lang_switch option{
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    background-color: #000;
    border: none;
}
.lang_switch:hover,
.lang_switch:focus,
.lang_switch:active{
    border: none;
    outline: none;
}
.header-navigation {
    padding: 6px 0;
    margin: 0 !important;
    box-shadow: none;
    z-index: 9;
}
.header-navigation ul li{
    line-height: 100% !important;
}
.header-navigation ul li.avatar {
    margin-top: -8px;
}
.header-navigation ul li a{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}
.header-navigation ul li.avatar a img{
    height: 32px;
}
#destination_nav_link a i{
    transition: all .5s ease;
    font-size: 12px;
}
#destination_nav_link a.active i{
    transition: all .5s ease;
    transform: rotate(-180deg);
}
.navbar-brand {
    margin-left: -5px;
}
.navbar-brand span {
    color: #F5DFA3;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 10px;
}
.navbar-brand img{
    height: 50px;
}
.navigation-section .light-logo{
    display: inline-block;
}
.navigation-section.active .light-dark{
    display: inline-block;
}
.navigation-section .light-dark,
.navigation-section.active .light-logo{
    display: none;
}
.navigation-section.active{
    background-color: #fff;
}
.navigation-section.active .navbar-brand span{
    color: #3A81B8;
}
.navigation-section.active ul li a{
    color: #222222;
}
.destination-dropdown{
    position: absolute;
    width: 100%;
    top: 148px;
    display: none;
}
.destination-dropdown.active{
    display: block;
}
.country_list {
    background-color: #101010cc;
    padding: 30px 0 !important;
}
.country_list li {
    text-align: right;
}
.country_list li a {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    padding: 10px 60px;
    display: inline-block;
}
.country_list li a:hover,
.country_list li a:focus,
.country_list li a:active{
    color: #F5DFA3;
    background-color: #101010cc;
}
.cities_list {
    background-color: #B7B7B7;
    height: 100%;
    padding: 31px 0 !important;
}
.cities_list li{

}
.cities_list li a{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    padding: 8px 40px;
}
.cities_list li a:hover,
.cities_list li a:focus,
.cities_list li a:active{
    background-color: #d7d7d7;
    color: #3A81B8;
}
.right-megamenu-part{
    background-color: #EDEDED;
}
.town_list li {
    width: 32.33%;
    display: inline-block;
}
.town_list li a {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    padding: 8px 40px;
}
.town_list, .view_all {
    padding: 30px 0 !important;
}
.view_all li a{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    padding: 8px 0;
}
/* ********************************* */
             /* Footer */
/* ********************************* */
footer{
    background-color: #fff;
}
.footer-right-border{
    border-right: 1px solid #9797978c;
    padding: 100px 0;
    position: relative;
}
.footer-widget{
    padding-top: 10px;
}
.footer-widget h3 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #1e1e1e;
    line-height: 24px;
    font-weight: 400;
}
.footer-widget ul{
    margin-top: 40px;
}
.footer-widget ul li{
    margin-bottom: 20px;
}
.footer-widget ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 400;
}
.footer-widget ul li a.email{
    color: #4a8dbf;
}
.copy-right {
    position: absolute;
    bottom: 100px;
}
.copy-right * {
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 400;
}
.footer-right-content {
    padding: 40px 0 0 90px;
}
.footer-right-content h3 {
    color: #4a8dbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}
.footer-right-content p {
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
}
.footer-right-content a {
    color: #383838;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.footer-right-content a i{
    color: #383838;
    font-size: 12px;
    margin-left: 5px;
}
.footer-right-content-col{
    position: relative;
    padding: 100px 0;
}
.footer-nav{
    position: absolute;
    bottom: 100px;
    width: 100%;
}
.footer-nav ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #7b7b7b;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 400;
}
/* ********************************* */
          /* Hero Section */
/* ********************************* */
.hero-section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 540px;
    position: relative;
    margin-top: -72px;
}
.hero-section > img{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: auto;
}
.hero-section-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000ba;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.hero-section-overlay h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
}
/* ********************************* */
               /* Temp */
/* ********************************* */
